# 1: Load the Dataset and Perform EDA

In [1]:
!gdown 1Kx-YSqU1VFZ6IDyJ8UVT9E-WQkpIlwYb

Downloading...
From: https://drive.google.com/uc?id=1Kx-YSqU1VFZ6IDyJ8UVT9E-WQkpIlwYb
To: /content/CarFeatures.csv
100% 2.49k/2.49k [00:00<00:00, 1.02MB/s]

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv('CarFeatures.csv')

# Display the column names
print("\n \n Column names:\n",df.columns)

print("\n \n Shape of the data frame (Row, Column):\n",df.shape)

# Display the first few rows of the dataset
print("\n \n First few rows of the dataset: \n \n",df.head())

# Display the summary of the dataset
print("\n \n Summary of the dataset:\n")
df.info()

# Display the count of null values
print("\n \n Count of null values: \n\n ",df.isnull().sum())

# Display the data types
print("\n \n The data types:\n\n",df.dtypes)

# Display the duplicate values
print("\n \n The duplicate values:\n\n",df.duplicated().sum())

# Display the number of missing values
print("\n \n The number of missing values:\n\n",df.isnull().sum())

# Display the number of unique values in each column
print("\n \n The number of unique values in each column:\n\n",df.nunique())


# Display unique values in categorical columns
print("\n \n Unique values in categorical columns:\n")
for column in df.select_dtypes(include='object').columns:
    print(f"{column}: {df[column].unique()}")

 Column names:
 Index(['Make', 'Fuel Type', 'Aspiration', 'Number of Doors', 'Body Style',
       'Drive Wheels', 'Engine Location', 'Number of Cylinders', 'Wheel Base',
       'Length', 'Width', 'Height', 'Curb Weight', 'Engine Size', 'Horsepower',
       'City MPG', 'Highway MPG', 'Price'],
      dtype='object')


 Shape of the data frame (Row, Column):
 (25, 18)


 First few rows of the dataset:

          Make Fuel Type Aspiration Number of Doors   Body Style Drive Wheels  \
0      Toyota    Diesel        Std             Two  Convertible          Fwd
1  Mitsubishi    Diesel        Std            Four  Convertible          Fwd
2   Chevrolet       Gas      Turbo            Four    Hatchback          Rwd
3  Mitsubishi       Gas      Turbo            Four    Hatchback          Fwd
4    Mercedes       Gas        Std            Four        Sedan          Rwd

  Engine Location Number of Cylinders  Wheel Base  Length  Width  Height  \
0           Front              Twelve        95.1   175.9   60.6    59.4
1            Rear                Four        91.7   153.9   60.5    55.1
2           Front                 Two       116.2   203.5   65.3    58.5
3           Front               Three       112.8   154.3   64.9    51.4
4            Rear                 Two       115.1   143.4   62.6    49.6

   Curb Weight  Engine Size  Horsepower  City MPG  Highway MPG  Price
0         1758          252         279        40           41   5272
1         1887           95         150        32           42  31393
2         3815          231         129        13           41  40450
3         3367          106         230        39           21  37881
4         3433          294          96        46           52  18087


 Summary of the dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 25 non-null     object
 1   Fuel Type            25 non-null     object
 2   Aspiration           25 non-null     object
 3   Number of Doors      25 non-null     object
 4   Body Style           25 non-null     object
 5   Drive Wheels         25 non-null     object
 6   Engine Location      25 non-null     object
 7   Number of Cylinders  25 non-null     object
 8   Wheel Base           25 non-null     float64
 9   Length               25 non-null     float64
 10  Width                25 non-null     float64
 11  Height               25 non-null     float64
 12  Curb Weight          25 non-null     int64
 13  Engine Size          25 non-null     int64
 14  Horsepower           25 non-null     int64
 15  City MPG             25 non-null     int64
 16  Highway MPG          25 non-null     int64
 17  Price                25 non-null     int64
dtypes: float64(4), int64(6), object(8)
memory usage: 3.6+ KB


 Count of null values:

  Make                   0
Fuel Type              0
Aspiration             0
Number of Doors        0
Body Style             0
Drive Wheels           0
Engine Location        0
Number of Cylinders    0
Wheel Base             0
Length                 0
Width                  0
Height                 0
Curb Weight            0
Engine Size            0
Horsepower             0
City MPG               0
Highway MPG            0
Price                  0
dtype: int64


 The data types:

 Make                    object
Fuel Type               object
Aspiration              object
Number of Doors         object
Body Style              object
Drive Wheels            object
Engine Location         object
Number of Cylinders     object
Wheel Base             float64
Length                 float64
Width                  float64
Height                 float64
Curb Weight              int64
Engine Size              int64
Horsepower               int64
City MPG                 int64
Highway MPG              int64
Price                    int64
dtype: object


 The duplicate values:

 0


 The number of missing values:

 Make                   0
Fuel Type              0
Aspiration             0
Number of Doors        0
Body Style             0
Drive Wheels           0
Engine Location        0
Number of Cylinders    0
Wheel Base             0
Length                 0
Width                  0
Height                 0
Curb Weight            0
Engine Size            0
Horsepower             0
City MPG               0
Highway MPG            0
Price                  0
dtype: int64


 The number of unique values in each column:

 Make                   10
Fuel Type               2
Aspiration              2
Number of Doors         2
Body Style              5
Drive Wheels            3
Engine Location         2
Number of Cylinders     7
Wheel Base             24
Length                 25
Width                  22
Height                 23
Curb Weight            25
Engine Size            23
Horsepower             24
City MPG               20
Highway MPG            18
Price                  25
dtype: int64


 Unique values in categorical columns:

Make: ['Toyota' 'Mitsubishi' 'Chevrolet' 'Mercedes' 'Audi' 'Mazda' 'BMW'
 'Nissan' 'Honda' 'Ford']
Fuel Type: ['Diesel' 'Gas']
Aspiration: ['Std' 'Turbo']
Number of Doors: ['Two' 'Four']
Body Style: ['Convertible' 'Hatchback' 'Sedan' 'Wagon' 'Hardtop']
Drive Wheels: ['Fwd' 'Rwd' '4wd']
Engine Location: ['Front' 'Rear']
Number of Cylinders: ['Twelve' 'Four' 'Two' 'Three' 'Eight' 'Five' 'Six']

# 2. Summarize the Data Using Descriptive Statistics

In [3]:
# Summarize the data using descriptive statistics
descriptive_stats = df.describe()
print(descriptive_stats)

       Wheel Base      Length      Width     Height  Curb Weight  Engine Size  \
count   25.000000   25.000000  25.000000  25.000000    25.000000    25.000000
mean   105.736000  173.928000  65.868000  52.680000  2907.720000   192.360000
std      9.046403   18.508523   3.632804   3.623534   777.650924    79.342548
min     91.700000  143.400000  60.500000  47.800000  1488.000000    79.000000
25%     96.000000  161.400000  62.500000  50.000000  2108.000000   106.000000
50%    106.800000  172.400000  66.300000  51.800000  3231.000000   199.000000
75%    113.900000  187.800000  68.500000  55.100000  3433.000000   252.000000
max    119.600000  207.600000  71.500000  59.800000  3922.000000   319.000000

       Horsepower   City MPG  Highway MPG         Price
count   25.000000  25.000000    25.000000     25.000000
mean   168.760000  29.720000    37.640000  22684.920000
std     73.189981  10.659581    10.664896  10684.205266
min     50.000000  13.000000    16.000000   5272.000000
25%    100.000000  24.000000    30.000000  14838.000000
50%    168.000000  29.000000    41.000000  18524.000000
75%    231.000000  38.000000    45.000000  31393.000000
max    288.000000  49.000000    53.000000  40466.000000

# 3: Identify the Costliest and Cheapest Car by Average Price

In [18]:
# Find the costliest and cheapest car by average price

# Calculate mean price by 'Make'
mean_prices = df.groupby('Make')['Price'].mean()
print(round(mean_prices),2)
# Identify the costliest car by average price
costliest_car = mean_prices.idxmax()

# Identify the cheapest car by average price
cheapest_car = mean_prices.idxmin()

print("\nCostliest car by average price:", costliest_car)
print("Cheapest car by average price:", cheapest_car)

Make
Audi          27944.0
BMW           20077.0
Chevrolet     40450.0
Ford           8246.0
Honda         14109.0
Mazda         18686.0
Mercedes      22832.0
Mitsubishi    30457.0
Nissan        14838.0
Toyota        25292.0
Name: Price, dtype: float64 2

Costliest car by average price: Chevrolet
Cheapest car by average price: Ford

# 4: Which Fuel Type Car Has the Highest Average Price?

In [10]:
# Find the fuel type with the highest average price
fuel_type_avg_price = df.groupby('Fuel Type')['Price'].mean()
highest_avg_price_fuel_type = fuel_type_avg_price.idxmax()

print(f"The fuel type with the highest average price is: {highest_avg_price_fuel_type}")

The fuel type with the highest average price is: Gas

# 5: Construct a Contingency Table (Using 'make' as the Row Variable)

In [62]:
# Construct a contingency table using 'make' as the row variable
contingency_table = pd.crosstab(df['Make'], df['Fuel Type'])
print(contingency_table)

Fuel Type   Diesel  Gas
Make
Audi             2    1
BMW              4    0
Chevrolet        0    1
Ford             0    2
Honda            0    1
Mazda            2    1
Mercedes         1    2
Mitsubishi       1    2
Nissan           0    1
Toyota           2    2

# 6: Probability that a Randomly Selected Car Will be a BMW

In [63]:
# Probability that a randomly selected car will be a BMW
prob_bmw = (df['Make'] == 'BMW').mean()
print(f"Probability of selecting a BMW: {prob_bmw}")

Probability of selecting a BMW: 0.16

# 7: Probability that a Randomly Selected Car Will be an Audi

In [64]:
# Probability that a randomly selected car will be an Audi
prob_audi = (df['Make'] == 'Audi').mean()
print(f"Probability of selecting an Audi: {prob_audi}")

Probability of selecting an Audi: 0.12

# 8: Hypothesis Testing for Price of Gas Cars vs Diesel Cars

In [65]:
from scipy.stats import ttest_ind

# Form the null and alternate hypothesis
# H0: There is no significant difference in the price of Gas cars and Diesel cars
# H1: There is a significant difference in the price of Gas cars and Diesel cars

# Filter the dataset for Gas and Diesel cars
gas_cars = df[df['Fuel Type'] == 'Gas']['Price']
diesel_cars = df[df['Fuel Type'] == 'Diesel']['Price']

# Perform t-test
t_stat, p_value = ttest_ind(gas_cars, diesel_cars)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

# Decision based on p-value
if p_value < 0.05:
    print("Reject the null hypothesis: The price of Gas cars is significantly different from that of Diesel cars.")
else:
    print("Cannot reject the null hypothesis: The price of Gas cars is not significantly different from that of Diesel cars.")

T-statistic: 1.1236308256408953, P-value: 0.27276131360711153
Cannot reject the null hypothesis: The price of Gas cars is not significantly different from that of Diesel cars.

# 9: Probability that a Randomly Selected Car is a 'Luxury Car'

Suppose you randomly select a car from this dataset. What is the probability that it is a 'Luxury Car' ?
( consider BMW, Mercedes and Audi as a luxary car under the column Make )

In [66]:
# Consider BMW, Mercedes, and Audi as luxury cars
luxury_brands = ['BMW', 'Mercedes', 'Audi']
prob_luxury_car = df['Make'].isin(luxury_brands).mean()
print(f"Probability of selecting a luxury car: {prob_luxury_car}")

Probability of selecting a luxury car: 0.4

# 10: Number of Different Ways to Arrange Three Unique Cars in a Race

You want to select a subset of three unique cars from the dataset to participate in a race. How many different ways can you arrange the cars in the race, considering their 'Make' as the criteria?

In [67]:
from itertools import permutations

# Number of ways to arrange three unique cars in a race
unique_makes = df['Make'].unique()
num_ways = len(list(permutations(unique_makes, 3)))
print(f"Number of different ways to arrange three unique cars in a race: {num_ways}")

Number of different ways to arrange three unique cars in a race: 720

# 11: Probability that a Car with 8 Cylinders is a BMW

In [68]:
# Probability that a car with 8 cylinders is a BMW
eight_cyl_cars = df[df['Number of Cylinders'] == 'Eight']
prob_bmw_eight_cyl = (eight_cyl_cars['Make'] == 'BMW').mean()
print(f"Probability that a car with 8 cylinders is a BMW: {prob_bmw_eight_cyl}")

Probability that a car with 8 cylinders is a BMW: 0.4

# 12: Probability of Selecting Exactly 3 Turbo Cars out of 7

You are conducting a random survey by selecting 7 cars from the dataset. Calculate the probability that exactly 3 out of the 7 selected cars have 'Turbo' aspiratio

In [69]:
from scipy.stats import binom

# Probability that exactly 3 out of 7 selected cars have 'Turbo' aspiration
total_cars = len(df)
turbo_cars = (df['Aspiration'] == 'Turbo').sum()
prob_turbo = turbo_cars / total_cars

prob_3_turbo_out_of_7 = binom.pmf(3, 7, prob_turbo)
print(f"Probability of selecting exactly 3 Turbo cars out of 7: {prob_3_turbo_out_of_7}")

Probability of selecting exactly 3 Turbo cars out of 7: 0.29320959754240045